name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  checks:
    name: Lint and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Get golangci-lint version from Dockerfile.dev
        id: golangci-lint-version
        run: |
          golangci_version=$(grep -E "GOLANGCI_LINT_VERSION=\s*" Dockerfile.dev | sed -n 's/.*GOLANGCI_LINT_VERSION=\([^"]*\)/\1/p')
          echo "value=$golangci_version" | tee -a "${GITHUB_OUTPUT}"
        shell: bash

      - name: Lint checks
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ steps.golangci-lint-version.outputs.value }}

      - name: Run tests and coverage
        run: go test -race -coverprofile=coverage.out -covermode=atomic -coverpkg=./... ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: jimmysharp/palworld_exporter
