name: Validate Renovate configuration
on:
  pull_request:
    paths:
      - renovate.json
      - renovate.json5
      - ./github/workflows/renovate_validation.yml

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npx --yes --package renovate -- renovate-config-validator --strict
